@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.cdnfonts.com/css/baloo-thambi');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,300&display=swap%27');
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}
body{background:#22577E;}
.titulo{
  margin-top: 8%;
}
h1{
  color:#fff;
  text-align:center;
  font-family: 'Baloo Thambi',sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2px;
  
}
.logo{
    width: 100%;
    height: 100%;
    background-color: red;
}
.login-form{
  width:450px;
  padding:40px 30px;
  background:#1A374D;
  border-radius:10px;
  margin:auto;
  position: absolute;
  left: 0;
  right: 0;
  top:30%;
  @include translateY(-25%);
}
.form-group{
  position: relative;
  margin-bottom:15px;
  color: #fff;
  text-align: center;
  
}
.text{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 25px;
}
.form-control{
  width:100%;
  height:50px;
  border:none;
  padding:5px 7px 5px 15px;
  background:#fff;
  color:#666;
  border:2px solid #ddd;
  border-radius:10px;
}
.form-control:focus, .form-control:focus + .fas{
    border-color:#7FC8A9;
    color:#7FC8A9;
}
.form-group .fas{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}

.log-status.wrong-entry {
    animation-name: wrong-log;
    animation-duration: 0.3s;
}
@keyframes wrong-log {
    0%, 100% { left: 0px;}
    20% , 60%{left: 15px;}
    40% , 80%{left: -15px;}
}
  

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fas {
  border-color: #ed1c24;
  color: #ed1c24;
}
.log-btn{
  background:#F3950D;
  display:inline-block;
  width:100%;
  font-size:30px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:10px;
  margin-top: 20px;
  cursor: pointer; 
}

.link{
  text-decoration:none;
  color:#C6C6C6;
  float:right;
  font-size:12px;
  margin-bottom:15px;
  &:hover{
    text-decoration: underline;
    color:#8C918F;
  }
}
.alert{
  display:none;
  font-size:12px;
  color:#CD1818;
  float:left;
}
@include keyframes (wrong-log) {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}

